#skills {
  height: 88vh;
  margin: auto; /* Center the parent container horizontally */
  max-width: 1000px;
  padding-top: 100px;
}

.section-header {
  text-align: center;
}

.section-title {
  font-family: "NTR", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--lightest-slate);
}

.experience-container {
  display: flex;
  justify-content: center; /* Centering the carousel */
  align-items: center;
  margin-top: 6rem;
  overflow: hidden; /* Hide any content overflowing during animation */
  width: 100%; /* Set width to control visible space */
}

.experience-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Space between the items */
  white-space: nowrap; /* Prevent wrapping */
}

.experience-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 14rem; /* Fixed width for each item */
}

.experience-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%; /* Circular design */
  background-color: var(--light-navy);
  margin-bottom: 10px;
}

.experience-image {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.experience-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--lightest-slate);
}

@media (max-width: 600px) {
  #skills {
    padding: 1.2rem;
    height: 75vh;
  }
}